.search-section{
    display: flex;
    flex-direction: column;
    width: 800px;
    background: transparent;
    justify-content: center;
    align-items: center;
}
.search-section h3{
    color: orange;
    font-weight: 800;
}
.search-section .search-field{
    display: flex;
    flex-direction: row;
    width: 620px;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.search-section .search-field .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(232, 241, 234, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.search-field .btnSearch{
    width: 100px;
    align-self: center;
    border: #000;
    border-radius: 10px;
}
.search-field .btnSearch:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.search-field .row .make, .model{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 450px){
    .search-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        background: transparent;
        /* background: #C4CBD0; */
    }
    .search-section .search-field{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.1rem;
        margin-bottom: 1rem;
    }
    .search-section .search-field .row{
        display: block;
        padding: 7px;
        gap: 5px;
    }
    .search-field .row .make, .model{
        display: flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
    .search-section .search-field .make select{
        border: none;
    }
    .search-field .btnSearch{
        width: 120px;
        align-self: center;
        border: #000;
        border-radius: 30px;
    }

}