.navbar{
    width: 100%;
    background-color: #fff;
    /* background-color: #002233;
    color: antiquewhite; */
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    top: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}
.navbar .navbar-logo{
    margin-left: 5rem;
}
.navbar .navbar-menu{
    margin-right: 10rem;
}

.navbar .navbar-logo a img{
    left: 0;
    width: 150px;
    height: 40px;
    object-fit: contain;

}
.navbar .navbar-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3rem;
}
.navbar .navbar-menu ul li a{
    text-decoration: none;
    color: #000;
    /* color: antiquewhite; */
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .3s ease;
}
.navbar .navbar-menu ul li a:hover{
    color: #ff0000;
}
.navbar .menu-icon{
    display: none;
}

/* Mobile display  layout */

/* @media (max-width:450px){
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
} */


@media (max-width: 320px) {
    .navbar{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 321px) and (max-width: 359px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 375px) and (max-width: 389px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 390px) and (max-width: 392px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 393px) and (max-width: 411px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 412px) and (max-width: 413px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 414px) and (max-width: 427px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 428px) and (max-width: 429px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .navbar .navbar-menu{
        display: none;
    }
    .navbar .menu-icon{
        display: block;
        cursor: pointer;
    }
}
