.rav4 {
  max-width: 900px;
  margin: 5rem auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
}

.rav4 img {
  width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 8px;
}

.rav4 figcaption {
  font-size: 0.9rem;
  color: #7f8c8d;
  text-align: center;
  margin-top: 5px;
}

.image-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.image-group img {
  flex: 1;
  max-width: 48%; /* Adjust the percentage as needed to control the size */
  height: auto;
  border-radius: 8px;
}


@media screen and (max-width: 768px) {
  .rav4{
    margin: 3.5rem auto;
    padding: 15px;
  }
  .image-group{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .image-group img{
    max-width: 100%;
  }
}