.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E8F1EA;
    width: 100%;
}
.background{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-image: url('/dealership.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background h1{
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
    color: orange;
}
.background .search{
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #fff;
    /* border: 1px solid #ccc; */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 550px;
}
.search h3{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.search .search-field{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.search-field select{
    width: 200px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.search-field div h4{
    text-align: center;
    margin-bottom: 10px;

}
.search-field button{
    /* width: 100px;
    height: auto; */
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
.search-field button:hover{
    background: #3E82B3;
    color: #000;
    border: 1px solid #000;
}
.search-field button i{
    margin-right: 5px;
    font-size: 20px;
}
.review .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.review .images img{
    width: 80px;
    height: 80px;
    border-radius: 60%;
    margin: 0 10px;
}

.background h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

/* car review section */

.car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-top: 2rem;
}
.car-review{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px;
    width: 500px;
    margin-bottom: 1rem;
}
.car .car-review .car-image img{
    /* width: 50px;
    height: 50px; */
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 1rem;
}
.car .desc{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    text-align: left;
}

@media(max-width:450px){
    .review{
        margin-top: 2rem;
        /* height: auto; */
        width: 100%;
    }
    .background{
        height: 60vh;
        /* width: 430px; */
        width: 100%;
        background-image: url('/coverimage.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .background h1{
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1rem;
    }
    .review .reviewlist{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}