.vehicle-filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-select {
    width: 100%;
    padding: 3px;
    font-size: 15px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .filter-select:focus {
    outline: none;
  }
  .filter-select option{
    border: none;
  }
  
  /* Add more styling as per your design preferences */
  