/* CarListings.css */
.listings-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* align-items: center; */
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.filters {
  width: 200px;
  max-width: 300px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.filters select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  /* margin: 0 auto; */
}

.car-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  height: 340px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-info {
  padding: 16px;
}

.car-info p {
  margin: 4px 0;
  font-size: 1rem;
  color: #333;
}

.car-info p:first-of-type {
  font-weight: bold;
}

.car-info p span {
  font-weight: normal;
}

@media (max-width: 768px) {
  .car-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .car-card {
    width: 100%;
  }
}
