.listings-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 20px;
  margin-top: 4rem;
  background: #EBF2F7;
}

.filters {
  margin-bottom: 10px;
  /* z-index: 1000; */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* height: fit-content; */
}

.car-card {
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  height: fit-content;
  transition: transform 0.3s, box-shadow 0.3s;
}

.car-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-bottom: 1px solid #ddd;
}

.car-info {
  padding: 10px;
}
.car-info p span{
  font-size: 18px;
  font-weight: 700;
}
.car-info .engine{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.car-info .engine span{
  background-color: #EBF2F7;
  padding: 10px;
  border-radius: 8px;
}

.car-info .heading p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  /* color: #333; */
  color: orange;
}

.car-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #d0d0d0;
}

/* Mobile phones Media Querries */


@media (max-width: 320px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
  .car-info .engine{
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 321px) and (max-width: 359px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 390px) and (max-width: 392px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 393px) and (max-width: 411px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 412px) and (max-width: 413px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 414px) and (max-width: 427px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}

@media (min-width: 428px) and (max-width: 429px) {
  .listings-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 4rem;
  }
  .listings-container .filters{
    display: block;
    z-index: 1000;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .car-info .engine{
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .car-info p span{
    font-size: 15px;
    font-weight: 600;
  }
  .car-info .heading p {
    margin: 7px 0;
    font-size: 15px;
  }
}