.vehicle-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    background: #EBF2F7;
    width: 100%;
  }
  
  .vehicle-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4.0rem;
    margin-bottom: 2rem;
    gap: 2.2rem;
    width: 100%;
  }
  .vehicle-info .image-gallery{
    /* width: 700px; */
    width: 900px;
    height: 60vh;
  }
  .description{
    display: flex;
    flex-direction: column;
  }
  .description h2{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  .description .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .description .info p{
    /* background: orange; */
    background-color: #0FD4FC;
    /* background-color: #1649E9; */
    padding: 5px;
    border-radius: 8px;
  }
  .description .price{
    text-align: center;
  }
  .location{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .location p{
    /* background-color: orange; */
    background-color: #0FD4FC;
    padding: 5px;
    border-radius: 8px;
  }
  .location .share-button{
    background-color: orange;
    color: #000;
  }
  .description .info .detailed-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .description .seller-details{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
  }
  .description .seller-details .seller{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* font-size: 20px; */
    gap: 1rem;
  }
  .description .seller-details .seller p{
    background-color: #0FD4FC;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
  }
  .seller-details .seller a {
    background-color: orange;
    color: #000;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
  }
  /* .contact-button i {
    margin-right: 5px;
  } */

  .description .price{
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
    margin: 1.5rem 0;
  }

  .vehicle-details .desc{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    /* padding: 1rem 8rem; */
    align-items: center;
    /* margin: 5rem 7rem; */
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
  }


  /* Mobile phones Media Querries */


  @media (max-width: 320px) {}

  @media (min-width: 321px) and (max-width: 359px) {}

  @media (min-width: 360px) and (max-width: 374px) {}

  @media (min-width: 375px) and (max-width: 389px) {
    .vehicle-details {
      padding: 0.5rem 1rem;
      width: 100%;
    }
    .vehicle-info{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 0.7rem;
    }
    .vehicle-info .image-gallery{
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 390px) and (max-width: 392px) {
    .vehicle-details {
      padding: 0.5rem 1rem;
      width: 100%;
    }
    .vehicle-info{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 0.7rem;
      margin-bottom: 0.8rem;
    }
    .vehicle-info .image-gallery{
      width: 100%;
      height: auto;
    }
    .vehicle-details .desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.7rem 0.5rem;
      background: #fff;
      padding: 10px;
      border-radius: 8px;
    }
  }

  @media (min-width: 393px) and (max-width: 411px) {}

  @media (min-width: 412px) and (max-width: 413px) {
    .vehicle-details {
      padding: 0.5rem 1rem;
      width: 100%;
    }
    .vehicle-info{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 0.7rem;
    }
    .vehicle-info .image-gallery{
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 414px) and (max-width: 427px) {
    .vehicle-details {
      padding: 0.4rem 0.1rem;
      width: 100%;
    }
    .vehicle-info{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 0.7rem;
    }
    .vehicle-info .image-gallery{
      width: 100%;
      height: auto;
    }
    .description .info{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #fff;
      padding: 10px 10px;
      border-radius: 8px;
    }
    .description .info p{
      /* background: orange; */
      background-color: #0FD4FC;
      padding: 5px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
    }
    .description .price{
      text-align: center;
    }
    .vehicle-details .desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.8rem;
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }

  @media (min-width: 428px) and (max-width: 429px) {
    .vehicle-details {
      padding: 0.5rem 0.1rem;
      width: 100%;
    }
    .vehicle-info{
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      gap: 0.7rem;
    }
    .vehicle-info .image-gallery{
      width: 100%;
      height: auto;
    }
    .description .info{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #fff;
      padding: 10px 10px;
      border-radius: 8px;
    }
    .description .info p{
      /* background: orange; */
      background-color: #0FD4FC;
      padding: 5px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
    }
    .description .price{
      text-align: center;
    }
    .vehicle-details .desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.8rem;
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }