.vehicle-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    background: #EBF2F7;
  }
  
  .vehicle-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4.0rem;
    gap: 2.2rem;
  }
  .description{
    display: flex;
    flex-direction: column;
  }
  .description h1{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  .description .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .description .info p{
    background: orange;
    padding: 5px;
    border-radius: 8px;
  }
  .location{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .location p{
    background-color: #0FD4FC;
    padding: 5px;
    border-radius: 8px;
  }
  .description .info .detailed-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .description .seller-details{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
  }
  .description .seller{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    gap: 1rem;
  }
  .description .price{
    display: flex;
    background: orange;
    padding: 10px;
    font-size: 24px;
    margin: 1.5rem 0;
  }